*{
    box-sizing: border-box;
    float: left;
}
div {
    border: thin solid ay;
}
.row {
    width : 95vw;
    height: auto;
}
/* Schmale Bildschirme */
/* Mobile First */
.col-1 {
    width: 100%;
    height: auto;
}
.col-2 {
    width: 100%;
    height: auto;
}
.col-3 {
    width: 100%;
    height: auto;
}
.col-4 {
    width: 100%;
    height: auto;
}
.col-5 {
    width: 100%;
    height: auto;
} 
.col-6 {
    width: 100%;
    height: auto;
}
@media (min-width: 50em) {
  /* Mittlere Bildschirme */
    .col-1 {
        width: 33.3333333333333%;
        height: auto;
    }
    .col-2 {
        width: 33.33333333333333%;
        height: auto;
    }
    .col-3 {
        width: 66.6666666666666%;
        height: auto;
    }
    .col-4 {
        width: 66.6666666666666%;
        height: auto;
    }
    .col-5 {
        width: 100%;
        height: auto;
    } 
    .col-6 {
        width: 100%;
        height: auto;
    } 
}
@media (min-width: 80em) {
/* oße Bildschirme */
    .col-1 {
        width: 16.66666666666667%;
        height: auto;
    }
    .col-2 {
        width: 33.33333333333333%;
        height: auto;
    }
    .col-3 {
        width: 50%;
        height: auto;
    }
    .col-4 {
        width: 66.6666666666666%;
        height: auto;
    }
    .col-5 {
        width: 83.33333333333333%;
        height: auto;
    } 
    .col-6 {
        width: 100%;
        height: auto;
    }
}
.flex { 
    display: flex; 
    justify-content: 50%; 
    align-items: center;
}
/* Bild mittig setzen */
.mittig {
    margin-left : 25vh;
}
/* grüner Rahmen für Bilder */
.rahmen {
    border-color: green;
    border-width: 5px;
    border-style: solid;
    width:auto;
    height:auto;
}



