*{
    box-sizing: border-box;
    float: left;
}
div {
    border: thin solid ay;
}
.row {
    width : 95vw;
    height: auto;
}
/* Schmale Bildschirme */
/* Mobile First */
.col-1 {
    width: 100%;
    height: auto;
}
.col-2 {
    width: 100%;
    height: auto;
}
.col-3 {
    width: 100%;
    height: auto;
}
.col-4 {
    width: 100%;
    height: auto;
}
.col-5 {
    width: 100%;
    height: auto;
} 
.col-6 {
    width: 100%;
    height: auto;
}
@media (min-width: 50em) {
  /* Mittlere Bildschirme */
    .col-1 {
        width: 33.3333333333333%;
        height: auto;
    }
    .col-2 {
        width: 33.33333333333333%;
        height: auto;
    }
    .col-3 {
        width: 66.6666666666666%;
        height: auto;
    }
    .col-4 {
        width: 66.6666666666666%;
        height: auto;
    }
    .col-5 {
        width: 100%;
        height: auto;
    } 
    .col-6 {
        width: 100%;
        height: auto;
    } 
}
@media (min-width: 80em) {
/* oße Bildschirme */
    .col-1 {
        width: 16.66666666666667%;
        height: auto;
    }
    .col-2 {
        width: 33.33333333333333%;
        height: auto;
    }
    .col-3 {
        width: 50%;
        height: auto;
    }
    .col-4 {
        width: 66.6666666666666%;
        height: auto;
    }
    .col-5 {
        width: 83.33333333333333%;
        height: auto;
    } 
    .col-6 {
        width: 100%;
        height: auto;
    }
}
.flex { 
    display: flex; 
    justify-content: 50%; 
    align-items: center;
}
/* Bild mittig setzen */
.mittig {
    margin-left : 25vh;
}
/* grüner Rahmen für Bilder */
.rahmen {
    border-color: green;
    border-width: 5px;
    border-style: solid;
    width:auto;
    height:auto;
}

/* Bildergallery */
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    font-family: 'Glyphicons Halflings';
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(46, 132, 206, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}
/* Bildergallery */
.galbild{
    width: 250px;
    height: 250px;
  }
  .container-xl {
    background-color: rgba(4, 4, 189, 0.712);
    text-align: center;
}